<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('classify.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('classify.static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- TODO: ホームとなるページの作成 -->
            <a class="navbar-brand" href="{{ url_for('classify.index') }}"><b>H2_AI</b></a>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated and current_user.is_admin %}
                <li class="nav-item">
                    <span class="nav-link">{{ current_user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_management.index') }}">管理者画面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">ログアウト</a>
                </li>
                {% elif current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">{{ current_user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">ログアウト</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">新規登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">ログイン</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <section class="container">
    {% block content %}{% endblock %}
    </section>
    {% block endbody %}{% endblock %}
</body>
</html>