<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('classify.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('classify.static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('classify.index') }}"><b>H2_AI</b></a>
            <button 
                class="navbar-toggler ml-auto"
                type="button"
                data-toggle="collapse"
                data-target="#clf-navbar"
                aria-controls="clf-navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="clf-navbar">
                <div class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated and current_user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_management.index') }}">管理者画面</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">ログアウト</a>
                    </li>
                    {% elif current_user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">{{ current_user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.signup') }}">新規登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">ログイン</a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="container">
    {% block content %}{% endblock %}
    </section>
    <script src="{{ url_for('classify.static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('classify.static', filename='js/toggle.js') }}"></script>
    {% block endbody %}{% endblock %}
</body>
</html>